*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content{
    text-align: center;
    padding: 150px 50px;
    width: auto;
}

.content img{
    width: 200px;
    height: 220px;
}

h1{
    font-size: 50px;
    padding-top: 25px;
    color: white;
    bottom: 50px;
}

h2{
    font-size: 48px;
    color: white;
}

h3{
    font-size: 40px;
    color: white;
    padding-top: 40px;
}

.input-text{
    width: 50%;
    padding: 15px 70px;
    padding-left: 10px;
    border-radius: 8px;
}


label{
    color: white;
    font-size: 20px;
    padding-left: 2px;
    font-weight: 100;
}

.button{
    background-color: rgb(80, 80, 252);
    color: white;
    font-size: 20px;
    color: white;
    padding: 10px 70px;
    border-radius: 8px;
    width: 50%;
    
}



